# Backend API Base URL
VITE_API_BASE_URL=

# Toss Payments Client Key (Public)
VITE_TOSS_CLIENT_KEY=test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm

# Deployment Base Path (Optional, defaults to '/')
VITE_BASE_PATH=/



# Absolute Grafana URL (e.g. tailscale)
VITE_GRAFANA_URL=http://<tailscale-ip>/admin/grafana
